<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CynTest @ Cynthia.re</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    </head>
    <body>
        <section class="section">
            <div class="container">
                    <h1 class="title">CynTest Cynthia.re (via {{ .Hostname }})</h1>
                    <p class="subtitle">version: {{ .BuildVersion }} built: {{ .BuildTime }}</p>
            </div>
        </section>
    </body>
</html>